/* main.css */
.btn-transparent .btn.btn-default.btn-xs {
  border: 0 none;
  background: transparent;
}

.btn-transparent .fa.fa-check-square-o {
  font-size: 22px;
  color: #61B329;
  
}

.btn-transparent .fa.fa-square-o {
  font-size: 22px;
  color: #000;
}
