/* main.css */


/* button spacing for home page */
a.btn.btn-primary {
  margin-left: 5px;
  margin-right: 5px;
}

a.btn.btn-success {
  margin-left: 5px;
  margin-right: 5px;
}


/* checklist styling for lists */
.btn-transparent .btn.btn-default.btn-xs {
  border: 0 none;
  background: transparent;
}

.btn-transparent .fa.fa-check-square {
  color: #61B329;
}

.btn-transparent .fa.fa-square-o {
  color: #333;
}
