/* main.css */
.btn-transparent .btn.btn-default.btn-xs {
  border: 0 none;
  background: transparent;
}

.btn-transparent .fa.fa-check-square {
  color: #61B329;
}

.btn-transparent .fa.fa-square-o {
  color: #333;
}
